* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.navbar-brand {
    color: black;
    font-size: 30px !important;
    font-weight: 700;
}

header a.nav-link.active {
    color: black;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 15px;
}

header a.nav-link.active:hover {
    background-color: #2D9596;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

header {
    background-color: #2D9596;
    padding: 0 25px;
    box-shadow: 0px 0px 10px #2D9596;
}

body {
    background-color: #DDF2FD !important;
}

.myanchor {
    margin-left: 10px;
}

.myanchor a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: #2D9596;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
    border: 2px solid transparent;
}

.myanchor a:hover {
    border: 2px solid #9BBEC8;
    color: black;
}

.nav {
    position: fixed;
}

.carouselExampleCaptions {
    color: black;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    margin-left: 20px;
}

.myclas {
    padding-left: 450px;
}

form {
    width: 98%;
    margin-left: 8px;
}

.myimage {
    width: 100%;
    height: 600px;
    margin-top: 4px;
}

.two {
    height: 720px;
    object-fit: cover;
}

.myimage img {
    width: 100%;
    height: 100%;
}

.text {
    text-align: center;
    margin-top: 20px;
    color: teal;
}

.about {
    text-align: justify;
    padding-right: 30px;
}

.first {
    width: 24.90rem;
    height: 287px;
    overflow: hidden;
}

.first img {
    width: 100%;
    height: 100%;
    transition: all 0.7s linear;

}

.first:hover img {
    transform: scale(1.05);
}

.login a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    margin-right: 15px;
}

.image {
    width: 350px;
    height: 280px;
    transition: all 1s linear;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #000;
}

.image:hover img {
    transform: scale(1.1);
}

.image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s linear;
}

.myform {
    width: 90%;
    height: 488px;
    margin-right: 50%;
}

.contact1 ul li a {
    text-decoration: none;
    color: #DDF2FD;
}

.contact1 ul li {
    list-style: none;
}

.contact1 {
    background-color: #164863 !important;
    border-radius: 10px;
}

.contact1 ul li a:hover {
    text-decoration: underline gray;
}

#mycontacts {
    background-color: #164863;
}

.map1 iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.map1 iframe:hover {
    box-shadow: 0px 0px 20px black;
}

.col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 15px !important; 
}

.first{
    border-radius: 15px 15px 0px 0px;
}

.text{
    margin: 40px 0px;
}

.row098{
    background-color: #9BBEC8 ;
}

.myform098{
    background-color: #427D9D;
}